name: CI (poetry)

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:

  tests_tasks:
    name: "Tasks, Python ${{ matrix.python-version }}"
    runs-on: ubuntu-24.04
    timeout-minutes: 30

    strategy:
      matrix:
        python-version: ["3.11", "3.12"]

    steps:

      - run: echo "XDG_CONFIG_HOME=$XDG_CONFIG_HOME"

      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
          persist-credentials: false

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - run: pipx install poetry==1.8.5
      - run: poetry config virtualenvs.in-project true
      - run: poetry env use python${{ matrix.python-version }}

      - run: df -h
      - run: du --max-depth=1 -h ~
      - run: du --max-depth=2 -h /home/runner/.cache
      - run: du -sh $(poetry env info --path)

      - run: poetry install --with dev --without docs --no-interaction -E fractal-tasks

      - run: df -h
      - run: du --max-depth=1 -h ~
      - run: du --max-depth=2 -h /home/runner/.cache
      - run: du -sh $(poetry env info --path)

      - run: echo "yes" | poetry cache clear -v --all .
      - run: rm -r /home/runner/.cache/pypoetry/artifacts

      - run: df -h
      - run: du --max-depth=1 -h ~
      - run: du --max-depth=2 -h /home/runner/.cache
      - run: du -sh $(poetry env info --path)
