name: CI (poetry)

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:

  tests_tasks:
    name: "Tasks, Python ${{ matrix.python-version }}"
    runs-on: ubuntu-24.04
    timeout-minutes: 30

    strategy:
      matrix:
        python-version: ["3.11", "3.12"]

    steps:

      - run: df -h
      - run: du --max-depth=1 -h /
      - run: du --max-depth=1 -h /opt
      - run: du --max-depth=1 -h ~
      - run: du --max-depth=1 -h .

      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
          persist-credentials: false

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install poetry
        run: pipx install poetry==1.8.5

      - name: Configure poetry
        run: poetry config virtualenvs.in-project true

      - name: Configure python version for poetry
        run: poetry env use python${{ matrix.python-version }}

      - run: df -h
      - run: du --max-depth=1 -h /
      - run: du --max-depth=1 -h /opt
      - run: du --max-depth=1 -h ~
      - run: du --max-depth=1 -h .

      - name: Install dependencies (including fractal-tasks extra)
        run: poetry install --with dev --without docs --no-interaction -E fractal-tasks

      - run: df -h
      - run: du --max-depth=1 -h /
      - run: du --max-depth=1 -h /opt
      - run: du --max-depth=1 -h ~
      - run: du --max-depth=1 -h .
