name: Precommit and Mypy (soft)

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:

  package:
    name: "Precommit and Mypy (soft)"
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
          cache: pip

      - name: Run pre-commit (fail upon errors)
        uses: pre-commit/action@v3.0.1

      - name: Install mypy
        run: pip install mypy

      - name: Run mypy (do not fail for errors)
        continue-on-error: true
        run: mypy --package fractal_tasks_core --ignore-missing-imports --warn-redundant-casts --warn-unused-ignores --warn-unreachable --pretty
